@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav {
	height: 95px;
	width: 1440px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.2);
}

#logoHead a{
	padding: 0px 100px;
	text-align: left center;
	font-size: 12px;
	text-decoration:none;
}
nav div{
	font-family: 'Poppins', sans-serif;
	display:inline-block;
	text-decoration:none;
	color: black;
}

#navLinks a{
	text-decoration: none;
	color: #2F2F2F;
	text-align: left center;
	padding: 0px 20px;
}

#demonstrate_bg {
	background-image: url("./resources/marker_board.jpg");
	height: 1024px;
	width: 1440px;
	background-repeat: no-repeat;
	background-size: cover;
}

#demonstrate_content {
	padding: 10% 10%;
	font-family: 'Poppins', sans-serif;
}

#available468{
	height: 512px;
	width: 1440px;
	background: #09257A;
}

#rewarding{
	background: linear-gradient(to right, #FFFFFF 15%, transparent), url("./resources/smile.png");
	height: 1024px;
	width: 1440px;
	background-repeat: no-repeat;
	background-size: cover;
}
#theChallenge{
	background-image: url("./resources/green.jpg");
	height: 1177px;
	width: 1440px;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-size: 52px;
	font-weight: normal;
}

h4 {
	font-size: 18px;
	font-weight: normal;
}
p.lead{
	font-size: 20px;
}

.button{
	border-radius: 65px;
	padding: 15px 15px;
	color: white;
	text-decoration:none;
	font-family: Arial;
	background-color: #04726D;
}