@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav {
	height: 95px;
	/*width: 1440px;*/
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.2);
}

#logoHead a{
	padding: 0px 100px;
	text-align: left center;
	font-size: 12px;
	text-decoration:none;
}
nav div{
	font-family: 'Poppins', sans-serif;
	display:inline-block;
	text-decoration:none;
	color: black;
}

#navLinks a{
	text-decoration: none;
	color: #2F2F2F;
	text-align: left center;
	padding: 0px 20px;
}

#demonstrateBg {
	background-image: url("./resources/marker_board.jpg");
	height: 1024px;
	/*width: 1440px;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#demonstrateContent {
	padding: 256px 10%;
	font-family: 'Poppins', sans-serif;
}

#available468{
	height: 512px;
	/*width: 1440px;*/
	background: #09257A;
	text-align: center;
}

#availableContent table{
	font-family: 'Poppins', sans-serif;
	color: white;
	margin: 0 auto;
	padding: 2vh 0vw;
}

#availableContent td{
	text-align: center;
	vertical-align: middle;
	padding: 0px 100px;
}

#availableContent p{
	font-size: 20px;
	font-weight: normal;
}

#rewardingBg{
	background: linear-gradient(to right, #FFFFFF 15%, transparent), url("./resources/smile.png");
	height: 1024px;
	/*width: 1440px;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#rewardingContent{
	padding: 384px 10%;
	font-family: 'Poppins', sans-serif;
}
#challengeBg{
	background-image: url("./resources/green.jpg");
	height: 1177px;
	/*width: 1440px;*/
	background-repeat: no-repeat;
	background-size: cover;
}
#challengeContent{
	font-family: 'Poppins', sans-serif;
	color: white;
	height: 1177px;
	text-align: center;
	padding: 5% 0%;
}

#challengeContent table{
	font-family: 'Poppins', sans-serif;
	color: white;
	margin: 0 auto;
	padding: 2vh 0vw;
}

#challengeContent td{
	text-align: center;
	vertical-align: middle;
	padding: 0px 100px;
	max-width: 20vw;
}

#discoverContent{
	font-family: 'Poppins', sans-serif;

}
#discoverContent a{
text-decoration: none;
color: black;
}

#discoverContent table{
		margin: 146px auto;
		border-spacing: 50px;
}
p.discDate{
	font-size: 9px;
	display:inline;
}

div.discText{
	padding: 15px 10px;
}
div.higherEd{
	font-size: 10px;
	font-weight: bold;
	width:104px;
	height:20px;
	vertical-align: middle;
	background-color:#F5F5F5;
	
}
#discoverTable td {
	width: 263px;
	height: 290px;
	overflow-wrap: break-word;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}

#dateTable img{
	width: 56.43px;
}
#contactBg{
	background-color:#F5F5F5;
	height:413px;
}
#contactContent{
padding: 100px 20vw;
font-family: 'Roboto', sans-serif;
}

footer{
	background-color:#2F2F2F;
	height: 72px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align:left;
}
#footLogo{
padding-top:20px;
padding-left: 100px;
display: block;
display: inline-block;
}

#copyright{
display: inline-block;
padding-top:20px;
padding-left: 75vw;
}

h1{
	font-size: 52px;
	font-weight: normal;
}
h2{
	font-size: 37px;
	font-weight: normal;
}
h3{
	font-size: 25px;
}
h4 {
	font-size: 18px;
	font-weight: normal;
}
h5 {
	font-size: 16px;
}

#pChallenge{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}
p.lead{
	font-size: 20px;
	font-weight: normal;
	inline-size: 20vw;
	overflow-wrap: break-word;
}

p.dates{
	font-size: 22px;
	font-weight: bold;
}

p.small{
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
}

.greenButton{
	border-radius: 65px;
	padding: 15px 15px;
	color: white;
	text-decoration:none;
	font-family: Arial;
	background-color: #04726D;
}

.blueBtn{
	border-radius: 65px;
	padding: 5px 13px;
	color: white;
	text-decoration:none;
	font-family: 'Poppins', sans-serif;
	background-color: #09257A;
}

input[type=text],input[type=email]{
	width: 360px;
	height:40px;
	font-family: 'Poppins', sans-serif;
}

input[type=submit]{
	width:80px;
	height:30px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	border: none;
	text-decoration: none;
	text-align: center;
	border-radius: 65px;
	padding: 0px 5px;
	cursor: pointer;
}
#subBtn{
	padding: 10px 0px;
}
select {
	width: 368px;
	height:46px;
	font-family: 'Poppins', sans-serif;
}